<md-dialog>
	<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=taj5130%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FNew_York" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	<md-dialog-actions>
	    <md-button class="md-primary md-raised md-warn" ng-click="tCtrl.showPTODialog()">New PTO Request</md-button>
	    <md-button class="md-primary" ng-click="tCtrl.hideCalendar()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>

