

<md-dialog>
	<iframe id="calendar" src="https://calendar.google.com/calendar/embed?src=taj5130%40gmail.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
	</iframe>

	<md-dialog-content>
		

	    <div class="md-padding">
	        <div layout layout-wrap>
	            <md-input-container flex="100">
	                <label>First Name</label>
	                <input ng-model="tdCtrl.trainer.firstName" required>
	            </md-input-container>

	            <md-input-container flex="100">
	                <label>Last Name</label>
	                <input ng-model="tdCtrl.trainer.lastName" required>
	            </md-input-container>
	        </div>
	    </div>
	</md-dialog-content>

	<md-dialog-actions>
	    <md-button class="md-primary" type="submit">Save</md-button>
	    <md-button class="md-primary" ng-click="tdCtrl.cancel()">Cancel</md-button>
	</md-dialog-actions>
</md-dialog>

