
    <md-toolbar accordion-dynamic layout="columns" md-ink-ripple="#ff0000" ng-class="{'active':$first}" style="padding: 20px">
        Grad Summary for {{ rCtrl.year }}


        <!--<md-menu md-position-mode="target-right target">-->
            <!--&lt;!&ndash;<md-button class="md-icon-button">&ndash;&gt;-->
                <!--&lt;!&ndash;<md-tooltip> Expand </md-tooltip>&ndash;&gt;-->
                <!--&lt;!&ndash;<md-icon md-menu-origin class="material-icons"> file_download </md-icon>&ndash;&gt;-->
            <!--&lt;!&ndash;</md-button>&ndash;&gt;-->
            <!--<md-button ng-click="$mdMenu.open($event)" class="md-icon-button" aria-label="Open sample menu">-->
                <!--<md-icon md-svg-icon="call:phone"></md-icon>-->
            <!--</md-button>-->
            <!--<md-menu-content>-->
                <!--<md-menu-item><md-button ng-click="doSomething()">Do Something</md-button></md-menu-item>-->
            <!--</md-menu-content>-->
        <!--</md-menu>-->
    </md-toolbar>
    <div class="content" >
        <md-toolbar layout="columns" class="md-primary md-hue-2" style="padding: 20px">
            <div>
                <span style="padding: 20px"> Graduates summary for {{ rCtrl.year }} </span>
            </div>
            <span flex> </span>
            <md-menu md-position-mode="target-right target">
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button">
                    <md-tooltip class="md-title"> Settings </md-tooltip>
                    <md-icon md-menu-origin md-svg-icon="img/ic_settings_white_24px.svg"> </md-icon>
                </md-button>
                <md-menu-content class="md-padding">
                    <md-menu-item>
                        <md-input-container>
                            <label> Year </label>
                            <input ng-model="rCtrl.year" type="number">
                        </md-input-container>
                    </md-menu-item>
                    <md-menu-item>
                        <md-input-container>
                            <label> Graduates per batch </label>
                            <input ng-model="rCtrl.graduates" type="number">
                        </md-input-container>
                    </md-menu-item>
                </md-menu-content>
                <!--<md-button ng-click="null" ng-csv="rCtrl.export()" filename="{{rCtrl.year}}report.csv" class="md-icon-button">-->
                    <!--<md-tooltip> Export to CSV </md-tooltip>-->
                    <!--<md-icon md-menu-origin class="material-icons"> file_download </md-icon>-->
                <!--</md-button>-->
            </md-menu>
        </md-toolbar>
        <div ng-if="rCtrl.batches != undefined" class="md-padding">

            <md-table-container>
                <get-Data></get-Data>
                <table md-table class="gradTable">
                    <thead md-head md-order="rCtrl.currOrder">
                    <tr md-row>
                        <th md-column flex md-order-by="name"> Curriculum </th>
                        <th md-column flex ng-repeat="month in rCtrl.monthList"> {{ month }} </th>
                        <th md-column md-numeric flex> Total </th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="curr in (rCtrl.curricula | orderBy:rCtrl.currOrder) track by curr.currId">
                        <td md-cell flex> {{ curr.name }} </td>
                        <td md-cell flex ng-repeat="month in rCtrl.currSummary(curr) track by $index"> {{ month }} </td>
                        <td md-cell flex> {{ rCtrl.currSummary(curr).reduce(rCtrl.sumCurrYear) }} </td>
                    </tr>
                    <tr md-row>
                        <td md-cell flex> Total </td>
                        <td md-cell flex ng-repeat="month in rCtrl.currSummary(curr) track by $index"> {{ rCtrl.sumMonth($index) }} </td>
                        <td md-cell flex> {{ rCtrl.sumYear() }} </td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>


        </div>

        <div ng-if="rCtrl.batches == undefined" layout="column" layout-wrap layout-align="center center">
            <div flex="100"> &nbsp; </div>
            <md-progress-circular flex="100" md-mode="indeterminate"> </md-progress-circular>
            <div flex="100"> &nbsp; </div>
        </div>

    </div>
