
<md-toolbar layout="columns" class="md-primary md-hue-2" ng-click="rCtrl.toggleCrateBatchToolbar()">
    <div class="md-toolbar-tools">
        <span> Batch Projection </span>
    </div>
    <span flex> </span>
    <!--  Generate a New Card Object Button -->
    <md-button class="md-icon-button" ng-click="$event.stopPropagation();rCtrl.genCard()" style="margin: 12px 6px;" >
        <md-tooltip class="md-title"> Add New Card </md-tooltip>
        <md-icon md-svg-icon="img/ic_add_circle_white_24px.svg"> </md-icon>
    </md-button>

    </md-menu>
    <span flex> </span>
    <md-button class="md-icon-button" style="margin: 12px 6px;">
        <md-tooltip class="md-title"> Toggle Content </md-tooltip>
        <i id="batchArrow" class="material-icons">keyboard_arrow_up</i>
    </md-button>
</md-toolbar>
