
      /* Global variable declarations */
    body {
        --revOrange: #f26a25;
    }

      /* Custom element CSS */
    .progressBar {
        padding: 0px;
    }

    .progressBar span {
        position: relative; 
        top: 0px;
        
        height: 2px; 

        display: block;         
    }

    .toastContainer {
        overflow: hidden;
    }

    .roomList {
        display: none;
    }

    .selectedBatch {
        background-color: #ddd;
    }

    .batchRow, rect {
        cursor: pointer;
    }

    .weekSpan {
        position: relative;
        top: -5px;
    }

    .batchForm input:disabled {
        border-bottom: 1px solid #ddd;
        text-align: center;
    }

      /* ngMaterial customized CSS */
    md-progress-linear .md-container .md-bar, md-progress-linear .md-container {
        height: 2px;
    }

    .batchForm .layout-row {
        padding: 0px 16px;
    }

    .md-datepicker-input-container {
        /*width: 60%;*/
    }

    .md-toast-animating {
        overflow: auto !important;
    }

    .md-top {
        position: fixed;
        top: 66px;
    }

    .md-right {
        position: fixed;
        right: 16px;
    }

    md-toolbar {
        padding: 0px 16px;
    }

    md-radio-button {
        margin-bottom: 0px;
    }

    md-list-item .md-list-item-inner > md-checkbox, md-list-item > md-checkbox {
        margin-right: 7px;
    }

    md-input-container {
        margin-bottom: 0px;
    }

    md-input-container md-select {
        margin-bottom: 22px;
    }
    
    md-menu-item md-input-container {
        margin: 10px;
        padding: 0px; 
    }


    .gradTable.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), .gradTable.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
        padding: 0 50px 0 0;
    }

