@CHARSET "ISO-8859-1";

.controlButton{
	width: 300px;
	background-color: rgba(222,222,222,1);
	border-style: solid;
	border-width: 2px;
	border-color: rgba(0, 0, 0, 0.2);
}

.creating-location{
	width: 300px;
}

#roomSelect{
	width: 113px;
}

#trainerSelect{
	width: 105px;
}

#topicSelect{
	width: 117px;
}

#curriculumSelect{
	width: 81px;
}

.dataContainer, .locationContainer, .createNewLocation, .batchView, #viewLocationContainer, #createBatchHeader{
	padding: 0 25px;
}

div.container nav{
	padding: 5%;
    width: 110%;
    margin-left: -5%;
    margin-top: 0%;
}

section#viewTrainerContainer{
	width: 95%;
	margin: 0 auto;
}

section#viewTrainerContainer div.trainerDetailContainer, .tableRow, .locationContainer{
	padding: 5px 5%;
    border-top-style: solid;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}

section#viewTrainerContainer div.trainerDetailContainer h3, .locationContainer h3 {
    font-size: 2em;
    margin: 0px;
}

section#viewTrainerContainer div.trainerDetailContainer header{
	width: 100%;
}
section#viewTrainerContainer div.trainerDetailContainer header h3:hover {
    cursor: pointer;
    color: orangered;
    opacity: .9;
}

section#viewTrainerContainer div.trainerDetailContainer div.locationLabel,
section#viewTrainerContainer div.trainerDetailContainer div.statusLabel {
    width: 50%;
    display: inline-block;
    text-align: center;
}

section#viewTrainerContainer .modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
section#viewTrainerContainer .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

section#viewTrainerContainer .modal-content h4{
    padding-top: 10px;
    border-top-style: solid;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
}
/* The Close Button */
section#viewTrainerContainer .viewTrainerClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

section#viewTrainerContainer .viewTrainerClose:hover,
section#viewTrainerContainer .viewTrainerClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

section#viewTrainerContainer .trainerDetailSkillList {
    width: 33%;
    display: inline-block;
}