<md-dialog aria-label="Synchronize Batch">
    <md-dialog-content>
        <md-toolbar layout="columns">
            <div class="md-toolbar-tools">
                <span>Synchronize Batch</span>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>
                <thead md-head>
                    <tr md-row>
                        <th md-column>Field</th>
                        <th md-column>Assignforce Data</th>
                        <th md-column>Salesforce Data</th>
                    </tr>
                </thead>
                <tbody md-body>

                  <tr md-row ng-class="bsCtrl.isSynced(bsCtrl.afb.name, bsCtrl.sfb.Name)">
                      <td md-cell>Name: </td>
                      <td md-cell>{{bsCtrl.afb.name}}</td>
                      <td md-cell>{{bsCtrl.sfb.Name}}</td>
                  </tr>
                  <tr md-row ng-class="bsCtrl.isSynced(bsCtrl.afb.curriculum.name, bsCtrl.sfb.Skill_Type__c)">
                      <td md-cell>Curriculum: </td>
                      <td md-cell>{{bsCtrl.afb.curriculum.name}}
                      <td md-cell>{{bsCtrl.sfb.Skill_Type__c}}</td>
                  </tr>
                  <tr md-row ng-class="bsCtrl.isSameTrainer(bsCtrl.afb.trainer, bsCtrl.sfb.Batch_Trainer__c)">
                      <td md-cell>Trainer: </td>
                      <td md-cell>{{bsCtrl.afb.trainer.firstName + ' ' + bsCtrl.afb.trainer.lastName}}</td>
                      <td md-cell>{{bsCtrl.sfb.Batch_Trainer__c.Name}}</td>
                  </tr>
                  <tr md-row ng-class="bsCtrl.isSameTrainer(bsCtrl.afb.cotrainer, bsCtrl.sfb.Co_Trainer__c)">
                      <td md-cell>Co-Trainer</td>
                      <td md-cell>{{bsCtrl.afb.cotrainer.firstName + ' ' + bsCtrl.afb.cotrainer.lastName}}</td>
                      <td md-cell>{{bsCtrl.sfb.Co_Trainer__c.Name}}</td>
                  </tr>
                  <tr md-row ng-class="bsCtrl.isSynced(bsCtrl.afb.startDate, bsCtrl.sfb.Batch_Start_Date__c)">
                      <td md-cell>Start Date:</td>
                      <td md-cell>{{bsCtrl.getDateFromTimestamp(bsCtrl.afb.startDate)}}</td>
                      <td md-cell>{{bsCtrl.getDateFromTimestamp(bsCtrl.sfb.Batch_Start_Date__c)}}</td>
                  </tr>
                  <tr md-row ng-class="bsCtrl.isSynced(bsCtrl.afb.endDate, bsCtrl.sfb.Batch_End_Date__c)">
                      <td md-cell>End Date:</td>
                      <td md-cell>{{bsCtrl.getDateFromTimestamp(bsCtrl.afb.endDate)}}</td>
                      <td md-cell>{{bsCtrl.getDateFromTimestamp(bsCtrl.sfb.Batch_End_Date__c)}}</td>
                  </tr>


















           

                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-click="bsCtrl.save()"> Save Changes</md-button>
        <md-button class="md-primary" ng-click="bsCtrl.stash()"> Stash Changes</md-button>
        <md-button class="md-primary" ng-click="bsCtrl.exitbdg()"> Cancel </md-button>
    </md-dialog-actions>
</md-dialog>
