<md-dialog aria-label="Synchronize Batch">
    <md-dialog-content>
        <md-toolbar layout="columns">
            <div class="md-toolbar-tools">
                <span>Synchronize Batch</span>
            </div>
        </md-toolbar>
        <md-table-container>
            <table md-table>

                <thead md-head>
                    <tr md-row>
                        <th md-column>Field</th>
                        <th md-column md-checkbox-column></th>
                        <th md-column>Assignforce Data</th>
                        <th md-column>Salesforce Data</th>
                        <th md-column md-checkbox-column></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="b in bsCtrl.batchInfo" ng-style="b.style">
                        <td md-cell>{{b.name}}</td>
                        <td md-cell>
                            <md-checkbox md-no-ink ng-model="b.assignSelect" aria-label="assign check"> </md-checkbox>
                        </td>
                        <td md-cell>{{bsCtrl.nullCheck(b.dfunc,b.vfunc(bsCtrl.afb))}}</td>
                        <td md-cell>{{bsCtrl.nullCheck(b.dfunc,b.vfunc(bsCtrl.sfb))}}</td>
                        <td md-cell>
                            <md-checkbox md-no-ink ng-model="b.salesSelect" aria-label="sales check"></md-checkbox>
                        </td>
                    </tr>
                    <tr md-row>
                        <td md-cell></td>
                        <td md-cell></td>
                        <td md-cell><md-button class="md-primary" ng-click="bsCtrl.syncSF()">Push to Salesforce</md-button></td>
                        <td md-cell><md-button class="md-primary" ng-click="bsCtrl.syncAF()">Pull from Salesforce </md-button></td>
                        <td md-cell></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-primary" ng-click="bsCtrl.save()"> Save Changes</md-button>
        <md-button class="md-primary" ng-click="bsCtrl.exitbdg()"> Cancel </md-button>
    </md-dialog-actions>
</md-dialog>