<md-dialog>
   <md-dialog-content>
       <form class="form-horizontal" name = curriculumForm>
           <div class="form-group">
               <span> Curriculum </span>
           </div>
           <div class="form-group">
            <md-input-container>
                        <label class="control-label">Curriculum Name</label>
                        <input class="form-control" name="curriculumName"  ng-model="curricI.name">
                </md-input-container>
               <hr>
                <md-input-container>
                    <label class="control-label">Skills </label>
                       <select class="form-control" ng-model="skillz" multiple ng-options="x.name for x in skills">
                       </select>
                </md-input-container>
           </div>
       </form>
   </md-dialog-content>
   <md-dialog-actions>
           <md-button ng-click="cancel()" class="md-primary">Cancel</md-button>
           <md-button ng-click="saveCurriculum()" class="md-primary">Save</md-button>
       </md-dialog-actions>
</md-dialog>