<!-- rdCtrl is roomDialogController.js -->
    <md-dialog aria-label="Add Room">

        <form name="roomForm">

            <div>
                
                <md-dialog-content>

                    <md-toolbar layout="columns">
                        <div class="md-toolbar-tools">
                            <span> {{ rdCtrl.title }} </span>
                        </div>
                    </md-toolbar>

                        <div class="md-padding">
                            <div layout layout-wrap>
                                <md-input-container flex="100">
                                    <label> Room number </label>
                                    <input ng-model="rdCtrl.room.roomName" required>
                                </md-input-container>

                            </div>
                        </div>

                </md-dialog-content>

                <md-dialog-actions>

                    <md-button class="md-primary" ng-click="rdCtrl.save(roomForm)"> Save </md-button>
                    <md-button class="md-primary" ng-click="rdCtrl.cancel()"> Cancel </md-button>
                
                </md-dialog-actions>
            </div>

        </form>

    </md-dialog>