<md-dialog>
    <form name="skillForm" ng-submit="sdCtrl.save(skillForm.$valid)" novalidate>
        <md-dialog-content>
            <md-toolbar layout="columns">
                <div class="md-toolbar-tools">
                    <span>Add Skill</span>
                </div>
            </md-toolbar>

            <div class="md-padding">
                <div layout layout-wrap>
                    <div layout="column">
                        <label>Choose a Skill</label>
                        <md-checkbox
                                ng-model="sdCtrl.selectedSkills"
                                ng-repeat="skill in sdCtrl.skills"
                                value="{{skill}}"
                                ng-checked="sdCtrl.exists(skill)"
                                ng-change="sdCtrl.toggle(skill)"> <!--ng-checked="sdCtrl.exists(skill)"--> <!--ng-checked="sdCtrl.selectedSkills.indexOf(skill)>-1"-->
                            {{ skill.name }}
                        </md-checkbox>
                    </div>

                    <!-- for use if user wants to add a skill not already in the database -->
                    <md-input-container flex="100">
                        <label>New Skill Name</label>
                        <input ng-model="sdCtrl.newSkill.name">
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions>
            <md-button class="md-primary" type="submit">Save</md-button>
            <md-button class="md-primary" ng-click="sdCtrl.cancel()">Cancel</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
