

    <center>
        <div class="container logo">
            <img src="img/revature_logo_250.png" alt="Revature" height="75px">
        </div>
        <h1 class="suh">AssignForce</h1>
        <div class="container">
            <form class="form-revature" role="form" name="loginDTO" ng-submit="aCtrl.login()">
                <!--<div class="row">-->
                    <!--<label class="sr-only">username</label>-->
                    <!--<input id="username" name="username" class="col-xs-12 col-md-12" type="text" placeholder="username" ng-model="aCtrl.username" required autofocus>-->
                <!--</div>-->
                <!--<div class="row">-->
                    <!--<label class="sr-only">password</label>-->
                    <!--<input id="password" name="password" class="col-xs-12 col-md-12" type="password" placeholder="password" ng-model="aCtrl.password" required>-->
                <!--</div>-->
                <div class="row">
                    <input class="btn-revature" type="submit" value="login">
                </div>
            </form>
            <span ng-show="aCtrl.loginError" class="span-creds">!!! invalid username and/or password !!!</span>
        </div>
</center>