
    <md-card md-whiteframe="8" ng-cloak>

        <md-toolbar layout="columns">
            <div class="md-toolbar-tools">
                <span> Profile </span>

                <span flex> </span>

                <md-button class="md-icon-button" ng-click="pCtrl.setResume()">
                    <md-tooltip> Add/Update Resume </md-tooltip>
                    <md-icon md-svg-icon="img/ic_add_circle_white_24px.svg"> </md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-content layout="columns" layout-padding flex>

            <img layout="column" style="border-radius: 50%" alt="" ng-src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884" id="displayImage" class="width-200 height-200" src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884">

            <div layout="column">

                <div layout="row" flex layout-fill>

                    <form class="nameForm" name="nameForm" ng-submit="pCtrl.updateName(nameForm.$valid)" novalidate>

                        <md-input-container flex>
                            <label> First Name </label>
                            <input ng-model="pCtrl.firstName" required>
                        </md-input-container>

                        <md-input-container flex>
                            <label> Last Name </label>
                            <input ng-model="pCtrl.lastName" required>
                        </md-input-container>

                    </form>

                </div>

                <div layout="row">

                    <!--need to figure out accessing the file, as far as permissions go-->
                    <md-label for="resumeLink"> Current Resume: </md-label>
                    <a ng-if="!!pCtrl.resume" ng-href="{{pCtrl.resumeBaseURL + pCtrl.resume}}" id="resumeLink">{{pCtrl.resume}}</a>

                    <a ng-if="!pCtrl.resume" id="noResume" >No resume on file</a>

                </div>

            </div>

        </md-content>

    </md-card>

    <md-card md-whiteframe="8" ng-cloak>

        <md-toolbar layout="columns">
            <div class="md-toolbar-tools">
                <span> Certifications </span>

                <span flex> </span>

                <md-button class="md-icon-button" ng-click="pCtrl.addCertifications()">
                    <md-tooltip> Add Certifications </md-tooltip>
                    <md-icon md-svg-icon="img/ic_add_circle_white_24px.svg"> </md-icon>
                </md-button>

            </div>
        </md-toolbar>

        <md-content>



        </md-content>

    </md-card>