
    <md-card md-whiteframe="8" ng-cloak>
        <md-toolbar layout="columns">
            <div class="md-toolbar-tools">
                <span> Profile </span>
                <span flex> </span>
            </div>
        </md-toolbar>

        <!--info section-->
        <md-content layout="columns" layout-padding flex ng-if="pCtrl.trainer != undefined && pCtrl.skills != undefined">
            <img layout="column" style="border-radius: 50%" alt="" ng-src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884" id="displayImage" class="width-200 height-200" src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884">
            <div layout="column">
                <div layout="row" flex layout-fill>
                    <form class="nameForm" name="nameForm" ng-submit="pCtrl.updateName(nameForm.$valid)" novalidate>
                        <md-input-container flex>
                            <label> First Name </label>
                            <input ng-model="pCtrl.trainer.firstName" required>
                        </md-input-container>
                        <md-input-container flex>
                            <label> Last Name </label>
                            <input ng-model="pCtrl.trainer.lastName" required>
                        </md-input-container>
                    </form>
                </div>
                <div layout="row">
                    <!--need to figure out accessing the file, as far as permissions go-->
                    <md-label for="resumeLink"> Current Resume: </md-label>
                    <md-label ng-if="pCtrl.trainer.resume != null"> {{pCtrl.trainer.resume}}</md-label>
                    <md-label ng-if="pCtrl.trainer.resume == null">No resume on file</md-label> <br>
                </div>
                <div layout="row">
                    <input class="ng-hide" id="input-file-id"  type="file" file-model="pCtrl.myFile">
                    <label for="input-file-id" class="md-button md-icon-button">
                        <md-icon md-menu-origin class="material-icons" style="color: #FB8C00;"> add_circle </md-icon>
                        <md-tooltip class="md-title"> Add/Update Resume </md-tooltip>
                    </label>
                    <div ng-if="pCtrl.myFile != undefined">
                        <label>{{pCtrl.myFile.name}}</label>
                        <md-button ng-click="pCtrl.uploadResume()">Update</md-button>
                    </div>
                </div>
            </div>
        </md-content>

        <!--skills section-->
        <md-content ng-if="pCtrl.trainer != undefined && pCtrl.skills != undefined">
            <md-toolbar class="md-primary md-hue-2" layout="columns">
                <div class="md-toolbar-tools">
                    <span> Skills </span>
                    <span flex> </span>
                    <md-button class="md-icon-button" ng-click="pCtrl.saveTSkills()">
                        <md-tooltip> Save Skills </md-tooltip>
                        <i class="material-icons">save</i>
                    </md-button>
                </div>
            </md-toolbar>
            <div class="md-padding" layout="column">
                <md-subheader class="md-no-sticky"><h2>Select a skill:</h2></md-subheader>
                <md-chips ng-model="pCtrl.skillsList" md-removable="false" md-on-select="pCtrl.addSkill($chip)">
                </md-chips>
                <md-list class="fixedRows">
                    <md-subheader class="md-no-sticky"><h2>Current skills:</h2></md-subheader>
                    <md-button class="md-list-item" ng-repeat="(index, skill) in pCtrl.trainer.skills | orderBy: 'name'" ng-click="pCtrl.removeSkill(skill)">
                        <md-icon class="md-avatar-icon material-icons" style="color: #FB8C00;">stars</md-icon>
                        <h5>{{skill.name}}</h5>
                    </md-button>
                </md-list>
            </div>
        </md-content>

        <!--certifications section-->
        <md-content ng-if="pCtrl.trainer != undefined && pCtrl.skills != undefined">
            <md-toolbar class="md-primary md-hue-2" layout="columns">
                <div class="md-toolbar-tools">
                    <span> Certifications </span>
                    <span flex> </span>

                    <input class="ng-hide" id="input-file-cert"  type="file" file-model="pCtrl.certFile">
                    <label for="input-file-cert" class="md-button md-icon-button">
                        <md-icon md-menu-origin class="material-icons"> add_circle </md-icon>
                        <md-tooltip class="md-title"> Add Certification </md-tooltip>
                    </label>
                </div>
            </md-toolbar>
            <div class="md-padding" layout="column">
                <div class="certAddBox" layout="row" ng-if="pCtrl.certFile != undefined">
                    <div>
                        <md-input-container flex>
                            <label> Certification Name </label>
                            <input ng-model="pCtrl.certName" required>
                        </md-input-container>
                        <br>
                        <label>{{pCtrl.certFile.name}}</label>
                        <md-button ng-click="pCtrl.uploadCertification()" ng-if="pCtrl.certName != undefined">Update</md-button>
                        <br>
                    </div>
                </div>
                <md-divider ng-if="pCtrl.certFile != undefined"></md-divider>
                <span ng-if="pCtrl.trainer.certifications == null">
                    <h6>You have no certifications selected. Try adding some.</h6>
                </span>
                <md-list >
                    <md-list-item md-ink-ripple="#ff0000" ng-repeat="cert in pCtrl.trainer.certifications">
                        <md-icon md-svg-icon="img/ic_sim_card_black_24px.svg"></md-icon>
                        <h3> {{cert.name}} </h3>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="pCtrl.removeCertification(cert)">
                            <md-tooltip class="md-title" style="color: #FB8C00;">Remove Certification</md-tooltip>
                            <i class="material-icons">remove_circle</i>
                        </md-button>
                    </md-list-item>
                </md-list>
            </div>
        </md-content>

        <div ng-if="pCtrl.trainer == undefined || pCtrl.skills == undefined" layout="column" layout-wrap layout-align="center center">
            <div flex="100"> &nbsp; </div>
            <md-progress-circular flex="100" md-mode="indeterminate"> </md-progress-circular>
            <div flex="100"> &nbsp; </div>
        </div>
    </md-card>