
    <md-card md-whiteframe="8" ng-cloak>

        <md-toolbar layout="columns">
            <div class="md-toolbar-tools">
                <span> Profile </span>
            </div>
        </md-toolbar>

        <md-content>

            <div layout="row" layout-padding>
                <div flex="30">
                    <img style="border-radius: 50%" alt="" ng-src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884" id="displayImage" class="width-200 height-200" src="https://app.revature.com/core/resources/download/default/interns/image?t=1486138020884">
                </div>
                <div flex="70">
                    <label>First Name</label>
                    <!-- add forms and stuff. using $valid for validation -->
                </div>
            </div>

        </md-content>

    </md-card>