<div id="accordionDynamic2" class="accordionWrap" ng-if="rCtrl.batches != undefined">
    <md-card class="accordion-block" ng-class="{'active-block':$first}">
        <md-content >
            <!--<input type="text" ng-model="rCtrl.tempp = 50">-->
            <get-grad-table-template></get-grad-table-template>
        </md-content>
    </md-card>

    <md-card class="accordion-block" ng-class="{'active-block':$first}">
        <md-content>
            <get-incoming-table-template></get-incoming-table-template>
        </md-content>
    </md-card>

    <md-card class="accordion-block" ng-class="{'active-block':$first}">
        <md-content>
            <get-batch-gen-template></get-batch-gen-template>
        </md-content>
    </md-card>

</div><br><br><br>


<!--Graduates Summary Graph -->
<md-card>
    <md-toolbar layout="columns" class="md-primary md-hue-2">
        <div class="md-toolbar-tools">
            <span> Graduates summary for {{ rCtrl.year }} </span>
        </div>
    </md-toolbar>
    <md-content>
        <div ng-if="rCtrl.batches != undefined">
            <get-Data></get-Data>
        </div>
        <div ng-if="rCtrl.batches == undefined" layout="column" layout-wrap layout-align="center center">
            <div flex="100"> &nbsp; </div>
            <md-progress-circular flex="100" md-mode="indeterminate"> </md-progress-circular>
            <div flex="100"> &nbsp; </div>
        </div>
    </md-content>
</md-card><br><br><br>


<style>
    .accordionWrap{
        list-style: none;
    }
    .accordionWrap .content{
        /*list-style: none;*/
        /*padding: 10px;*/
        display: none;
    }
    .accordionWrap .active-block .content{
        display: block;
    }

    md-toolbar._md._md-toolbar-transitions {
        font-weight: bold;
    }
</style>


<br><br><br>

<button ng-click="rCtrl.tester()"> Test Me....</button>
<!--<div class="accordionWrap">-->
    <!--<md-card class="accordion-block" ng-class="{'active-block':$first}">-->
        <!--<md-content ng-change="rCtrl.tempp = 30">-->
            <!--<get-grad-table></get-grad-table>-->
        <!--</md-content>-->
    <!--</md-card>-->
<!--</div>-->

<br><br><br>

