<md-card md-whiteframe="8" ng-cloak>
    <md-toolbar layout="columns"  ng-click="sCtrl.viewContent()">
        <div class="md-toolbar-tools">
            <span>Settings</span>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <md-list ng-if="sCtrl.locations">
            <md-list-item ng-repeat="setting in sCtrl.settings" ng-if="setting.settingId < 14 || setting.settingId > 22">
            
                <div ng-if="setting.settingId != 23"class="md-list-item-text">
                    <h3>{{setting.settingName}}</h3>
                </div>
                <div ng-if="setting.settingId == 23" class="md-list-item-text">
                	<h3>Default Batch Naming Convention</h3>
                            $c = curriculum name<br>
                            $m = month$d = day of month<br>
                		    $y = year<br>
                </div>
                <span flex></span>

                <md-input-container ng-if="setting.settingId == 3">
                    <md-select ng-model="sCtrl.defaultLocation" placeholder="No Default Location" ng-change="sCtrl.getBuildings()">
                        <md-option ng-value="location" ng-repeat="location in sCtrl.locations" ng-selected="location.id == setting.settingValue">{{ location.name }}</md-option>
                    </md-select>
                </md-input-container>
                
                <md-input-container ng-if="setting.settingId == 9">
                    <md-select ng-model="sCtrl.defaultBuilding" placeholder="No Default Building" >
                        <md-option ng-value="building" ng-repeat="building in sCtrl.buildings" ng-selected="building.id == setting.settingValue">{{ building.name }}</md-option>
                    </md-select>
                </md-input-container>
                
                <md-input-container ng-if="setting.settingId == 23">
                	<md-select ng-model="sCtrl.defaultPattern" placeholder="No Default">
                		<md-option ng-value="pattern.settingName" ng-repeat="pattern in sCtrl.patterns" ng-selected="sCtrl.defaultPattern == pattern.settingName">{{ pattern.settingName }}</md-option>
                	</md-select>
                </md-input-container>

                <md-input-container  ng-if="setting.settingId != 3 && setting.settingId != 23 && setting.settingId != 9">
                    <label></label>
                    <input ng-model= "setting.settingValue" class="settInput" type="Number" min="0">
                </md-input-container>
                <md-divider></md-divider>
            
            </md-list-item>
            <md-button class="md-primary nonwhite" ng-click="sCtrl.updateSettings()" >Save</md-button>
            <md-button class="md-secondary nonwhite" ng-click="sCtrl.resetSettings()">Reset</md-button>
        </md-list>

        <div ng-if="sCtrl.locations == undefined" layout="column" layout-wrap layout-align="center center">
            <div flex="100"> &nbsp; </div>
            <md-progress-circular flex="100" md-mode="indeterminate"> </md-progress-circular>
            <div flex="100"> &nbsp; </div>
        </div>
    </md-content>
</md-card>