
    <md-card md-whiteframe="8" ng-cloak>

        <!--orange trainer title above list of trainers-->
        <md-toolbar layout="columns">

            <div class="md-toolbar-tools">
                <span> Trainers </span>

                <span flex> </span>

                <md-button class="md-icon-button" ng-click="tCtrl.addTrainer()">
                    <md-tooltip class="md-title"> Add Trainer </md-tooltip>
                    <md-icon md-svg-icon="img/ic_add_circle_white_24px.svg"> </md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <input class="ng-hide" id="input-file-id"  type="file" file-model="tCtrl.myFile">
        <label for="input-file-id" class="md-button md-icon-button">
            <md-icon md-menu-origin class="material-icons"> add_circle </md-icon>
            <md-tooltip> Add/Update Resume </md-tooltip>
        </label>
        <md-content>
            <md-list ng-if="tCtrl.trainers != undefined">
                <md-list-item class="md-2-line" md-ink-ripple="#ff0000" ng-repeat="trainer in tCtrl.trainers | activeItem track by trainer.trainerID" ng-click="tCtrl.goToTrainer($event)">
                    <md-icon md-svg-icon="img/ic_people_black_48px.svg"> </md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3> {{ trainer.firstName }} {{ trainer.lastName }} </h3>
                        <p ng-if="trainer.skill.length > 0"> Skills: {{ trainer.skill.map(tCtrl.joinObjArrayByName).join(", "); }} </p>
                        <p ng-if="trainer.skill.length <= 0"> Skills: none </p>
                    </div>
                    <span flex> </span>

                    <md-button class="md-icon-button" ng-click="tCtrl.grabS3Resume('')">
                        <md-tooltip> Download Resume </md-tooltip>
                        <i class="material-icons" style="color: #FB8C00;">file_download</i>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="tCtrl.removeTrainer(trainer)">
                        <md-tooltip class="md-title"> Deactivate Trainer </md-tooltip>
                        <i class="material-icons" style="color: #FB8C00;">remove_circle</i>
                    </md-button>
                </md-list-item>
            </md-list>

            <div ng-if="tCtrl.trainers == undefined" layout="column" layout-wrap layout-align="center center">
                <div flex="100"> &nbsp; </div>
                <md-progress-circular flex="100" md-mode="indeterminate"> </md-progress-circular>
                <div flex="100"> &nbsp; </div>
            </div>

        </md-content>
    </md-card>

