
<div class="content" >
    <div ng-if="rCtrl.batches != undefined" class="md-padding">
        <md-table-container>
            <table md-table class="gradTable">
                <thead md-head md-order="rCtrl.currOrder">
                <tr md-row>
                    <th md-column flex md-order-by="name"> Curriculum </th>
                    <th md-column flex ng-repeat="month in rCtrl.monthList"> {{ month }} </th>
                    <th md-column md-numeric flex> Total </th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="curr in (rCtrl.curricula | orderBy:rCtrl.currOrder) track by curr.currId">
                    <td md-cell flex> {{ curr.name }} </td>
                    <td md-cell flex ng-repeat="month in rCtrl.currSummary2(curr) track by $index"> {{ month }} </td>
                    <td md-cell flex> {{ rCtrl.currSummary2(curr).reduce(rCtrl.sumCurrYear) }} </td>
                </tr>
                <tr md-row>
                    <td md-cell flex> Total </td>
                    <td md-cell flex ng-repeat="month in rCtrl.currSummary2(curr) track by $index"> {{ rCtrl.sumMonth2($index) }} </td>
                    <td md-cell flex> {{ rCtrl.sumYear2() }} </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
    <div ng-if="rCtrl.batches == undefined" layout="column" layout-wrap layout-align="center center">
        <div flex="100"> &nbsp; </div>
        <md-progress-circular flex="100" md-mode="indeterminate"> </md-progress-circular>
        <div flex="100"> &nbsp; </div>
    </div>
    </md-content>
</div>
